.menu-container{
  display:flex;
  justify-content:right;
  background-color: rgb(74, 75, 75) !important;

}
.menu-container div a {
  margin-left: 40px !important;
  align-items: center !important;
}
.menu-container ul li {
  display:inline-block;
  justify-content:center;
  align-items: center !important;
  
}

.menu-container ul a {
  display:inline-block;
  text-decoration: none;
  
}
.menuItem{
  display: block;
  justify-content:center;
  align-items: center;

}
.ConfConteiner{
  margin-right: 50px !important;
  align-items:flex-end;
  text-align: right !important;
}


.Img{
    opacity: 0.5;
  }

 .imagen1{
  width: auto;
  height:500px;
  
 }
 .parrafo1 {
 font-size: small;
  text-align: center;
 }
 .parrafo2 {
 font-size:medium;
  text-align: center;
 }

 
.formulario{
  display:flex;
  justify-content: center;
}




.Izq {
text-align: left;
padding: 0em;
}
.Enviarformulario {
background-color: #95c842 !important;
border-color: #95c842 !important;
}


.TituloConf{
  font-size:xx-large !important;
}

html {
  scroll-behavior: smooth;
}


.pieitem {
  display:inline-block;
  background-color: #1c445a;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
